<div class="container-fluid">
    <div class="page-header">
        <h1>Easy Route Number</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <!--p>
                <a href="{{ url_for('.new') }}">
                        Create
                    </a>
            </p-->
        </div>
        <div class="col-md-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Number ID</th>
                        <th>Number</th>
                        <th>Gateway ID</th>
                        <th>Translated</th>
                    </tr>
                </thread>
                <tbody>
                 <!--   {% for num in numbers %}
                        <tr>
                            <td>{{num.number_id}}</td>
                            <td>
                                <a href="{{ url_for('.edit', id=num.number_id) }}">
                                    {{ num.number }}
                                </a>
                            </td>
                            <td>{{num.gateway_id}}</td>
                            <td>{{num.translated}}</td>
                        </tr>
                    {% endfor %}-->
                </tbody>
            </table>
        </div>
    </div>
</div>
